

$light: #FBFAF8;            //rgba(251, 250, 248, 1);
$light-green:#D4F2DB;      //rgba(212, 242, 219, 1);
$green:#A5E4B3;             //rgba(165, 228, 179, 1);
$dark-green:#a0c1a7;      //rgba(118, 214, 140, 1);


$dark-blue: #0A122A;         // rgba(10, 18, 42, 1);

$light-grey: #D7E0DB;       // rgba(215, 224, 219, 1);
$grey: #A8ABBD;             // rgba(168, 171, 189, 1);
$dark-grey: #666A86;        // rgba(102, 106, 134, 1);

$stars: #F0B70E;            // rgba(240, 183, 14, 1);

$orange-light:#ff9263;      // rgba(255, 146, 99, 1)
$orange: #f46036;           // rgba(244, 96, 54, 1)
$orange-dark:#CE4823;       // rgba(206, 72, 35, 1)
$orange-darkest:#ba2d08;    // rgba(186, 45, 8, 1)

